[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ../../DragonBot/bot/bot.py

# Name of the bot in-game
name = DragonBot

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Chainso

# Short description of the bot
description = A bot to play Rocket League using machine learning

# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/Chainso/DragonBot

# Programming language
language = python
